<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>229893810792-tk59osm67qobpc94a8loh09sthqpjo0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229893810792-tk59osm67qobpc94a8loh09sthqpjo0b</string>
	<key>API_KEY</key>
	<string>AIzaSyCkvwyvIJNdrLfd-ZpbL-Bg4tqlYow0bNc</string>
	<key>GCM_SENDER_ID</key>
	<string>229893810792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nostalgic-kid.apps.Food-Buddies</string>
	<key>PROJECT_ID</key>
	<string>food-buddies</string>
	<key>STORAGE_BUCKET</key>
	<string>food-buddies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:229893810792:ios:b06c35d2b792d005</string>
	<key>DATABASE_URL</key>
	<string>https://food-buddies.firebaseio.com</string>
</dict>
</plist>